<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<header th:replace="~{header}"></header>
		<hr>
	<main>
		<h3>新規登録フォーム</h3>
		<form action="/users/add" method="post">
			<ul th:if="${errorList}" class="error">
				<li th:each="error:${errorList}" th:text="${error}"></li>
			</ul>


			<table border="1">
				<tr>
					<th>お名前</th>
					<td>
						<input type="text" name="name" th:value="${name}">
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<input type="text" name="password" th:value="${password}">
					</td>
				</tr>
			</table>
			<button>登録</button>
		</form>
	</main>
</body>

</html>