<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>記録入力ページ</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header th:replace="~{title}"></header>
	<main>
		<hr>
		<h3 style="text-align: center;"><span th:text="${@account.name} + ' さん、こんにちは'"></span></h3>

		<form action="/records/add" method="post">
			<h2 style="text-align: center; margin-top: 0; margin-bottom: 2rem; color: #333; font-weight: 600;">運動記録の入力
			</h2>

			<table border="1" class="data-table">
				<tr>
					<th>日付</th>
					<th>種目</th>
					<th>時間（分）</th>
					<th>体重（kg）</th>
					<th>感想</th>
				</tr>
				<tr>
					<td><input type="date" name="date" required></td>
					<td>
						<select name="eventId" required>
							<option value="" disabled selected hidden>種目 </option>
							<option th:each="event : ${events}" th:value="${event.id}" th:text="${event.name}"></option>
						</select>
					</td>
					<td><input type="number" name="time" min="1" max="999" required></td>
					<td><input type="number" name="weight" min="1" max="999"step="0.1" required></td>
					<td><input type="text" name="memo" ></td>
				</tr>
			</table>
			<button>ENTER!!!</button>
		</form>

		<p><a href="/past">過去の記録を見る</a></p>
	</main>
</body>

</html>