<!--<header>-->
<!--	<h1>プランクでカロリー消費‼</h1>-->
<!--	<form action="/logout" method="post">-->
<!--			<a href="/logout">ログアウト</a>-->
<!--		</form>-->
<!--</header>-->

<header style="display: flex; justify-content: space-between; align-items: center;">
    <h1>自宅でカロリー消費‼</h1>
    <form action="/logout" method="post">
        <button type="submit" style="background: none; border: none; color: blue; cursor: pointer; text-decoration: underline;">
            ログアウト
        </button>
    </form>
</header>