<!--<header style="display: flex; justify-content: space-between; align-items: center;">-->
<!--	<h1>自宅でカロリー消費‼</h1>-->
<!--	<form action="/logout" method="post">-->
<!--		<button type="submit" style="background: none; border: none; color:#ffff-->
<!--		; cursor: pointer; text-decoration: underline;">-->
<!--			ログアウト-->
<!--		</button>-->
<!--	</form>-->
<!--</header>-->

<header class="header">
	<h1 class="header-title">自宅でカロリー消費‼</h1>
	
	<form action="/logout" method="post" class="logout-form">
		<button type="submit" class="logout-button">
			ログアウト
		</button>
	</form>
</header>
